body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background: #800020; /* Borgogna */
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.clock img {
  width: 260px;
  height: auto;
}
